@font-face {
  font-family: 'TetrisBlockRegular';
  src: url(font/tetrisblockregular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TetrisManiaType';
  src: url(font/TetrisManiaType.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
